{% extends 'base.html' %} {% load widget_tweaks %}{% block title %}Profile{% endblock %} {% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="display-4">Edit Your Profile</h1>
            <hr />
            <div class="row">
                <form action="" method="POST" class="form container">
                    {% csrf_token %}
                    <!-- username, email, first_name, last_name -->
                    <div class="form-group my-2">
                        <label for="id_username">Username</label>
                        <input disabled type="text" name="username" value="{{ user.username }}" class="form-control" id="id_username" />
                    </div>
                    <div class="form-group my-2">
                        <label for="id_email">Email</label>
                        <input type="email" name="email" value="{{ user.email }}" class="form-control" id="id_email" />
                    </div>
                    <div class="form-group my-2">
                        <label for="id_first_name">First Name</label>
                        <input type="text" name="first_name" value="{{ user.first_name }}" class="form-control" id="id_first_name" />
                    </div>
                    <div class="form-group my-2">
                        <label for="id_last_name">Last Name</label>
                        <input type="text" name="last_name" value="{{ user.last_name }}" class="form-control" id="id_last_name" />
                    </div>
                    <button type="submit" class="btn btn-primary my-2">Update Profile</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}