{% extends 'base.html' %} {% load widget_tweaks %}{% block title %}Register{% endblock %} {% block content %}
<section class="vh-100">
    <div class="mask d-flex align-items-center h-100">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card bg-dark" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-5 text-white">Create an account</h2>

                            <form action="" method="POST">
                                {% csrf_token %}

                                <div class="form-floating mb-4">
                                    <input name="username" required type="text" id="register-username" class="form-control" placeholder="username" />
                                    <label class="form-label" for="register-username">Your Username</label>
                                </div>

                                <div class="form-floating mb-4">
                                    <input name="email" required type="email" id="register-email" class="form-control" placeholder="example@example.com" />
                                    <label class="form-label" for="register-email">Your Email</label>
                                </div>

                                <div class="form-floating mb-4">
                                    <input name="password" required type="password" id="register-password" class="form-control" placeholder="password" />
                                    <label class="form-label" for="register-password">Password</label>
                                </div>

                                <div class="form-floating mb-4">
                                    <input name="password2" required type="password" id="register-password2" class="form-control" placeholder="password" />
                                    <label class="form-label" for="register-password2">Repeat your password</label>
                                </div>

                                <div class="d-flex justify-content-center">
                                    <button type="submit" class="btn btn-outline-light btn-lg px-5">Register</button>
                                </div>

                                <p class="text-center text-white mt-5 mb-0">Have already an account? <a href="{% url 'login' %}" class="fw-bold text-white"><u>Login here</u></a></p>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}